exportPattern("^[[:alpha:]]+")
S3method("print", "BH")
S3method("print", "SGoF")
S3method("print", "BBSGoF")
S3method("plot", "BH")
S3method("plot", "SGoF")
S3method("plot", "BBSGoF")
S3method("summary", "BH")
S3method("summary", "BBSGoF")
S3method("summary", "SGoF")
