exportPattern("^[[:alpha:]]+")
import(stats)
importFrom("graphics", "abline", "par", "plot", "rug")
S3method("print", "BH")
S3method("print", "SGoF")
S3method("print", "BBSGoF")
S3method("print", "BY")
S3method("print", "Binomial.SGoF")
S3method("print", "Bayesian.SGoF")
S3method("print", "Discrete.SGoF")
S3method("plot", "BH")
S3method("plot", "SGoF")
S3method("plot", "BBSGoF")
S3method("plot", "BY")
S3method("plot", "Binomial.SGoF")
S3method("summary", "BY")
S3method("summary", "Bayesian.SGoF")
S3method("summary", "Binomial.SGoF")
S3method("summary", "BH")
S3method("summary", "BBSGoF")
S3method("summary", "SGoF")
